# ------------------------------------------------------------------------------
# Compose Environment 
# ------------------------------------------------------------------------------

COMPOSE_NAME=prometheus-playground

# ------------------------------------------------------------------------------
# Network
# ------------------------------------------------------------------------------

MONITORING_NETWORK=monitoring

# ------------------------------------------------------------------------------
# Prometheus
# ------------------------------------------------------------------------------

PROMETHEUS_VERSION=v3.11.3
PROMETHEUS_PORT=9090
PROMETHEUS_RETENTION=15d

# ------------------------------------------------------------------------------
# Alertmanager
# ------------------------------------------------------------------------------

ALERTMANAGER_VERSION=v0.32.1
ALERTMANAGER_PORT=9093

# ------------------------------------------------------------------------------
# Blackbox Exporter
# ------------------------------------------------------------------------------

BLACKBOX_EXPORTER_VERSION=v0.28.0
BLACKBOX_EXPORTER_PORT=9115

# ------------------------------------------------------------------------------
# Node Exporter
# ------------------------------------------------------------------------------

NODE_EXPORTER_VERSION=v1.11.1
NODE_EXPORTER_PORT=9100

# ------------------------------------------------------------------------------
# Pushgateway
# ------------------------------------------------------------------------------

PUSHGATEWAY_VERSION=v1.11.2
PUSHGATEWAY_PORT=9091

# ------------------------------------------------------------------------------
# OpenTelemetry Collector
# ------------------------------------------------------------------------------

OTEL_COLLECTOR_VERSION=0.152.1

OTEL_GRPC_PORT=4317
OTEL_HTTP_PORT=4318
OTEL_METRICS_PORT=8888
OTEL_PROMETHEUS_EXPORT_PORT=8889

# ------------------------------------------------------------------------------
# Grafana
# ------------------------------------------------------------------------------

GRAFANA_VERSION=13.0.1
GRAFANA_PORT=3000

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin

# ------------------------------------------------------------------------------
# Misc
# ------------------------------------------------------------------------------

RESTART_POLICY=unless-stopped
