# OpenTelemetry configuration
ENV OTEL_SERVICE_NAME=sales-app

ENV OTEL_METRICS_EXPORTER=otlp
ENV OTEL_TRACES_EXPORTER=otlp

ENV OTEL_EXPORTER_OTLP_PROTOCOL=grpc
ENV OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317

ENV OTEL_RESOURCE_ATTRIBUTES=deployment.environment=playground